<header class="header sl-fixed">
  <div class="container">
    <div class="search-wrapper">
      <form class="search-form" id="search-form">
        <label class="search__label header__search-label">
          <input
            class="search__input"
            name="searchQuery"
            type="text"
            title="Max 80 chars"
            autocomplete="off"
            placeholder="Search images..."
            maxlength="80"
          />
        </label>

        <button class="search__btn" data-search-btn type="submit" aria-label="Search">
          <svg class="search__svg" aria-hidden="true" width="48" height="48">
            <use href="./images/svg/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</header>
