.gallery__load-more-btn {
  margin: 0 auto;
}

.load-more {
  display: block;
  padding: 10px 21px;

  font-family: inherit;
  font-size: clamp(1.7rem, 2.5vw, 2.1rem);

  color: #eee;
  background-color: lighten($color-header-bg, 1);

  border-radius: 5px;

  @include transition;
  transition-property: opacity, visibility, transform, background-color,
    box-shadow;

  &:focus,
  &:hover {
    background-color: lighten($color-header-bg, 10);
    box-shadow: 2px 3px 7px 3px rgba($color-accent, 0.2);
  }
}
